<!DOCTYPE html>
<html ng-app="zombieSocial">
  <head>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>

  </head>
  <body ng-controller="SurvivorsController as survivors">

    <header class="page-header">
      <div class="container">
     <h1 class="text-center">ZombieSocial</h1>
     <h2 class="text-center">– The zombies survivors social network –</h2>
   </div>
 </header>


 <div class="container-fluid">
 <ul class="nav nav-pills nav-justified">
   <a class="navbar-brand" href="">ZombieSocial</a>
    <li class="active">
      <a href="/">Home</a></li>
    <li >
      <a href="/new">New Survivor</a></li>
    <li >
      <a href="/login">Login</a></li>
    <li>
      <a href="/stats" >Stats</a></li>
  </ul></div>
      <div ng-view></div>

<!--<div ng-show="!tab.isSet(2)" class="form">

  <form name="newForm" ng-controller="ReviewController as reviewCtlr" ng-submit="reviewForm.$valid && reviewCtlr.addReview(product)" novalidate>
  <h4>Submit a Review</h4>
  <fieldset class="form-group">
    <select ng-model="reviewCtlr.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
      <option value="">Rate the Product</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="reviewCtlr.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="reviewCtlr.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
  </fieldset>
  <fieldset class="form-group">

    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
</form>
</div>


</div>-->
   <footer class="footer">
         <div class="container">
           <p class="text-muted">ZombieSocial.</br>Vinicius Carvalho Machado, 2017.</p>
         </div>
       </footer>
  </body>
</html>
