<!DOCTYPE html>
<html ng-app="zombieSocial">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="SurvivorsController as survivors">
    <header class="page-header">
      <div class="container">
     <h1 class="text-center">ZombieSocial</h1>
     <h2 class="text-center">– The zombies survivors social network –</h2>
   </div>
 </header>

 <div class="container-fluid" ng-controller="TabController as tab">
 <ul class="nav nav-pills nav-justified">
   <a class="navbar-brand" href="">ZombieSocial</a>
    <li ng-class="{ active:tab.isSet(1) }">
      <a href="" ng-click="tab.setTab(1)">Home</a></li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href="" ng-click="tab.setTab(2)">New Survivor</a></li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href="" ng-click="tab.setTab(3)">Login</a></li>
    <li ng-class="{ active:tab.isSet(4) }">
      <a href="" ng-click="tab.setTab(4)">Stats</a></li>
  </ul>

    <div ng-show="tab.isSet(1)" class="panel-group container">
   <div class="panel panel-default">
     <div class="panel-heading text-center">Welcome to ZombieSocial!</div>
     <div class="panel-body">The world as we know it has fallen into an apocalyptic scenario. <br><br>A laboratory-made virus is transforming human beings and animals into zombies, hungry for fresh flesh.

<br><br>If you are a zombie resistance member, join our social network and share with others!</div>
   </div>
</div>

<div ng-show="!tab.isSet(1)" class="form">

  <form name="newForm" ng-controller="ReviewController as reviewCtlr" ng-submit="reviewForm.$valid && reviewCtlr.addReview(product)" novalidate>
  <h4>Submit a Review</h4>
  <fieldset class="form-group">
    <select ng-model="reviewCtlr.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
      <option value="">Rate the Product</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="reviewCtlr.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="reviewCtlr.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
  </fieldset>
  <fieldset class="form-group">

    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
</form>
</div>


</div>
   <footer class="footer">
         <div class="container">
           <p class="text-muted">ZombieSocial.</br>Vinicius Carvalho Machado, 2017.</p>
         </div>
       </footer>
  </body>
</html>
