<div class="container">
  <form name="newSurvivor" ng-controller="FormController as formCtrl" ng-submit="formCtrl.adduser(formCtrl.inventory.water, formCtrl.inventory.food, formCtrl.inventory.medication, formCtrl.inventory.ammunition)"novalidate>
    <h4>Tell us about you:</h4>
    <fieldset class="form-group">
      <textarea ng-model="formCtlr.survivor.name" class="form-control" placeholder="Write your name..." title="Name" required></textarea>
    </fieldset>
    <fieldset class="form-group">
      <h4>{{formCtlr.surv.people.name}}</h4>
      <input ng-model="formCtlr.survivor.age" type="number" class="form-control" placeholder="What's your age ?" title="Age" required/>
    </fieldset>
    <fieldset class="form-group">
      <select ng-model="formCtlr.survivor.gender" class="form-control" title="Gender" required>
        <option value="" disabled selected>Select your gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </fieldset>
    <h4>Inventory</h4>
    <fieldset class="form-group">
      <input ng-model="formCtlr.inventory.water" type="number" min="0" max="999" class="form-control" placeholder="Water" title="Age" required/>
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="formCtlr.inventory.food" type="number" min="0" max="999" class="form-control" placeholder="Food" title="Age" required/>
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="formCtlr.inventory.medication" type="number" min="0" max="999" class="form-control" placeholder="Medication" title="Age" required/>
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="formCtlr.inventory.ammunation" type="number" min="0" max="999" class="form-control" placeholder="Ammunation" title="Age" required/>
    </fieldset>
    <div class="container" style="height:150px; width:400px; position:absolute;" id="map"></div>
    <script src="js/maps.js"></script>
    <fieldset class="form-group">
      <div> form is {{newSurvivor.$valid}}</div>
      <input type="submit" class="btn btn-primary pull-right" value="Create Account"/>
    </fieldset>
    <script src="js/maps/js"></script>

</form>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKROr9gymIEWNBTvf1-pS65JBQlxXD7nw&callback=initMap">
</script>
</div>
